a{
    text-decoration: none;
}
.nav-link {
  color: #CDBEBF;                
  transition: color 0.5s ease, transform 0.5s ease;
  display: inline-block;     
}
.nav-link:hover{
    color: #729CCE;
    transform: scale(1.1);
}